<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>U2U Online</Name>
      <OrgId>65e3a17f-35a7-4965-9021-c15addfcae61</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vdTJ1MzY1LmNybTQuZHluYW1pY3MuY29tO1VzZXJuYW1lPXRyYWluZXJAdTJ1Y291cnNlLmNvbTtQYXNzd29yZD0nMDAxNi1aZWxsaWsnO0F1dGhUeXBlPU9mZmljZTM2NTtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>9.0.2.449</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>65e3a17f-35a7-4965-9021-c15addfcae61</OrgId>
      <Path>/new_contacts.html</Path>
      <WebResourceId>fcd81cfb-e385-e811-a974-000d3ab5c6ea</WebResourceId>
      <WebResourceName>new_contacts.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>65e3a17f-35a7-4965-9021-c15addfcae61</OrgId>
      <Path>/new_default.css</Path>
      <WebResourceId>71618101-e485-e811-a971-000d3ab4cccd</WebResourceId>
      <WebResourceName>new_default.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>65e3a17f-35a7-4965-9021-c15addfcae61</OrgId>
      <Path>/new_jquery.js</Path>
      <WebResourceId>2cc57703-e485-e811-a961-000d3ab5ccb7</WebResourceId>
      <WebResourceName>new_jquery.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>65e3a17f-35a7-4965-9021-c15addfcae61</OrgId>
      <Path>/new_myscript.js</Path>
      <WebResourceId>9f0e1007-e485-e811-a974-000d3ab5c6ea</WebResourceId>
      <WebResourceName>new_myscript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>